/* You can add global styles to this file, and also import other style files */

.card-text{
    color: black;
    font-family: "Nunito";
    line-height: 100%;
    font-weight: bold;
}

.navbar{
    background: #FCFCFC !important;
    border: none !important;
    box-shadow: none !important; 
} 