<div class="container">
    <div class="row text-center">
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-oscilacoes.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Oscilações
                                <span class="card-subtitle">ocorrentes</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiOscilacao}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-nota-informativa.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Notas Informativas
                                <span class="card-subtitle">realizadas</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiNotaInformativa}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-segunda-via.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Segundas vias
                                <span class="card-subtitle">solicitadas</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiSegundaVia}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="row text-center" style="margin-top: 25px">
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-energia.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Falta de energia
                                <span class="card-subtitle">por completo</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiEnergiaCompleta}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-energia.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Religações comuns
                                <span class="card-subtitle">realizadas</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiReligaComum}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-4">
            <mdb-card cascade="true">
                <div class="col">
                    <div class="row text-left">
                        <div class="text-justify">
                            <img src="../../assets/icone-energia.svg">
                        </div>
                        <div class="col">
                            <h1 class="card-title">
                                Religações urgentes
                                <span class="card-subtitle">realizadas</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <mdb-card-body cascade="true" class="text-center">
                    <mdb-card-text>
                        {{totalApiReligaUrgente}} chamadas.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>